* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#snake-game-main-container, #snake-game-score-container {
    /* width: 1000px; */
    border: 1px solid black;
}

#snake-game-main-container {
    /* height: 800px; */
    margin: 20px auto;
    position: relative;
}

#snake-game-score-container {
    height: 100px;
    margin: 10px auto;
}

.snake-skin {
    top: 0;
    left: 0;
}

.snake-clone, .snake-skin {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
}

#game-over-container, #snake-game-score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#snake-game-settings-container, #snake-game-settings-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#snake-game-settings-container div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
}

#snake-game-settings-container div:hover {
    background-color: lightblue;
}

#choose-another-playground-size {
    font-size: 14px;
}

#snake-game-settings-container div:hover, #choose-another-playground-size:hover {
    cursor: pointer;
}

#game-over-container {
    position: absolute;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    top: calc(100% / 2 - 100px);
    left: calc(100% / 2 - 100px);
}

#game-over-container a {
    text-decoration: none;
}

#game-over-container a:hover {
    text-decoration: underline;
}

#game-main-timer {
    font-size: 30px;
}

#game-total-score {
    font-size: 20px;
}

.food {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
}

.box-style {
    width: 20px;
    height: 20px;
    position: absolute;
}

.box-color {
    background-color: red;
}

.box-style:hover {
    border: 1px solid black;
}

#test {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 100px auto;
    position: relative;
}

#btn-box {
    margin: 50px auto;
    position: relative;
    width: 100px;
}

.playground-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}